/*prices-list*/

.prices-list-bg {
    background: #f1f1f1;
    height: 730px;
}


.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.prices-list-title {
    display: inline-block;
    color: #000;
    font-weight: 300;
    border-bottom: 5px solid #00C3A0;
    width: 320px;
    text-transform: uppercase;
    font-size: 17px;
    height: auto;
    margin-top: 48px;


}
.prices-box {
  position: relative;
  border: 2px solid #d3d3d3;
  height: 500px;
  width: 330px;
  background-color: #f9f9f9;
  margin-top:66px;
  margin-bottom: 66px;
}

.prices-box .dot {

  position: absolute;
  top: -24px;
  right: 45.5%;
  width: 24px;
  height: 24px;
  background: #d3d3d3;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  z-index: 2;
  margin-left: -15px


}

 .prices-box .dot2 {
    position: absolute;
    top: -38px;
    right: 41%;
    width: 53px;
    height: 53px;
    background: white;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    z-index: 1;

  }
  .center{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      span{
          padding: 30px;
          font-size: 19px;
          color: #00d2ae;
          font-weight: 500;
          text-transform: uppercase;

      }
  }

  .circle{
      width: 131px;
      height: 131px;
      border: 1px solid #d3d3d3;
      border-radius: 100%;
      margin-bottom: 34px;
  }
  .circle-text{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      height: 100%;
      span{
          color: #c6c6c6;
          font-size: 39px;
          font-weight: 700;
          padding: 0;



          .upper{
              vertical-align: super;
          }

          b{
              font-size: 13px;
              font-weight: 700;
          }
      }
      .down{
          font-size: 13px;
          font-weight: 700;
          color: #c6c6c6;

      }
  }
.box-list{
    width: 100%;
    height: 170px;
    ul{
        height: 100%;
        display: flex;
        flex-flow: column;
        text-align: center;

        li{

    height: 25%;
    background-color: #e4e4e4;
    font-size: 23px;
    color: #939393;
    padding: 5px;

}
}

li:nth-child(2n){
    background-color:#f1f1f1;
}
}

.button{
    width: 122px;
    height: 34px;
    background-color: #00d2ae;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    color: #ffffff;
}
